
.main-query-page, .places-query.response {
    text-align: center;
}
.detailed-list {
    display: inline;
    visibility: hidden;
}
input#query {
    border: none
}
.query-results {
    visibility: hidden;
}