
.main-query-page, .places-query.response {
    text-align: center;
}
.detailed-list {
    display: inline;
    visibility: hidden;
}
input#query {
    border: none
}
.query-results, .parse-attach-here, .search-attach-here, .detailed-attach-here {
    visibility: hidden;
}
.small {
    font-size: 12px !important;
}
.start_ajax_places .fa-spinner {
    display: none;
}